<!-- v1 of the form. Making the form using just html. 
<form action="<%= users_path %>" method="post" accept-charset="UTF-8">
  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="user_username">
  <label for="email">Email:</label>
  <input type="text" name="user[email]" id="user_email">
  <label for="password">Password:</label>
  <input type="password" name="user[password]" id="user_password">
  <input type="submit" value="Create User">
</form> -->

<!-- v2 of the form. Using form_tag helper
  <%= form_tag(users_path, method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %>
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Create User") %>
<% end %> -->

<%# v3 of the form. Using the form_with helper %>


<%= form_with model: @user do |form| %>
  <%= form.label :username, "Username:" %>
  <%= form.text_field :username, value: :poop %>
  <%= form.label :email, "Email:"  %>
  <%= form.text_field :email, placeholder: "example@example.com" %>
  <%= form.label :password, "Password:"  %>
  <%= form.password_field :password %>
  <%= form.submit "Create User" %>
<% end %>